/JavaApplication10/nbproject/private/
/JavaSwing/nbproject/private/
/JavaSwing/build/
/Tugas3/build/
/Tugas3/dist/
/Tugas3/nbproject/private/
/tugas tiga/Tugas3/build/
/tugas tiga/Tugas3/dist/
/tugas tiga/Tugas3/nbproject/private/
